@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Noto+Sans&family=Playfair+Display&display=swap');

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    font-size: 1.6rem;
    font-family: 'Noto Sans', sans-serif;
}

.section-white {
    background-color: #fff;
}

.section-blue {
    background-color: #009CFC;
}

.section-header {
    font-family: 'Playfair Display', serif;
    color: #009CFC;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    padding: 1rem;
}

.section-subheader {
        font-family: 'Playfair Display', serif;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 2.5rem;
        padding: 0 0 1rem;
}

p {
    letter-spacing: 0.1rem;
    line-height: 2rem;
    text-align: left;
    padding: 0.5rem;
    width: 75%;
    border-radius: 0.5rem;
}

.p-blue {
    background-color: #009CFC;
    color: #fff;
}

.p-white {
    background-color: #fff;
    color: #009CFC;
}

table {
    border: 0.3rem solid #005EB8;
    text-align: center;
    background-color: #fff;
    color: #009CFC;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    border: 0.1rem solid #005EB8;
    text-align: center;
}

/* Header */

header {
    background-color: #005EB8;
    letter-spacing: 0.1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
}

header a {
    text-decoration: none;
    margin: 0;
}

nav {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

nav li {
    margin-bottom: 0.5rem;
}

nav a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

#logo {
    font-family: 'Cinzel', serif;
    color: #fff;
    font-size: 2.25rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
}

.toggle-nav:checked ~ nav {
    flex: 1 1 100%;
    display: block;
    background-color: #005EB8;
    font-size: 1.25rem;
}

.toggle-nav {
    display: none;
}

.toggle-nav-label {
    color: #fff;
    font-size: 2rem;
    padding: 1rem;

}

/* Footer */

footer {
    background-color: #005EB8;
    display: flex;
    color: #fff;
    flex-direction: row;
    padding: 1rem;
}

.social-networks {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-networks a {
    color: #fff;
    font-size: 2rem;
}

/* Hero Image */

#home {
    margin-bottom: 0;
}

div.hero-image {
    background: url(../images/The_Battle_of_Culloden.jpg) no-repeat center center;
    background-size: cover;
    height: 40vh;
    width: 100%;
}

/* History Section */

#history-header {
    color: #009CFC;
}

.history-grid {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem;
    width: min(100%, 70rem);
    margin-inline: auto;
    justify-items: center;
    align-items: center;
}

.history-img {
    width: 77.5%;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #878E8D;
}

#history-p-3 {
    margin-bottom: 1rem;
}

/* Visitor Centre Section */

#visitor-centre {
    margin-bottom: 0;
}

#visitor-centre-header {
    color: #fff;
}

#visitor-centre-subheader {
    color: #fff;
}

.museum-grid {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem;
    width: min(100%, 70rem);
    margin-inline: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.museum-img {
    width: 20rem;
    height: 20rem;
    padding: 0;
    border-style: solid;
    border-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
} 

.opening-times {
    width: 32rem;
}

.cafe-flex {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.cafe-menu {
    background-color: #fff;
    width: 31.5rem;
    border: 0.3rem solid #005EB8;
    color: #009CFC;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    text-align: center;
    list-style: none;
}

.cafe-menu li {
    padding: 0.5rem 0;
}

.battlefield-flex {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.leanach-cottage {
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #878E8D;
} 

#battlefield-p {
    margin-bottom: 1rem;
}

/* Contact Information Section */

#contact-header {
    color: #009CFC;
}

.contact-grid {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0.5rem;
    width: min(100%, 70rem);
    margin-inline: auto;
    justify-items: center;
    align-items: center;
}

.contact-subheader {
    color: #009CFC;
    font-size: 2rem;
}

.contact-p {
    width: 27rem;
    text-align: center;
}

.contact-grid iframe {
    width: 32rem;
    height: 20rem;
    border: 3px solid #005EB8;
    margin: 1rem 0;
}

/* Tour section */
#tour-header {
    color: #fff;
}

.tour-grid {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem;
    width: min(100%, 70rem);
    justify-items: center;
    align-items: center;
}

.tour-pricing-table {
   width: 17.5rem;
}

.book-tour-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0076AC;
    gap: 1rem;
    padding: 2rem;
    width: 28rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #878E8D;
}

.book-tour-form label {
    color: #fff;
    letter-spacing: 0.2rem;
    font-weight: 500;
}

.form-button {
    width: 8rem;
    align-self: center;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem 0.25rem #878E8D;
    padding: 1rem;
    border-radius: 0.5rem;
}

#submit {
    background-color: #009CFC;
    color: #fff;   
}

#reset {
    background-color: #fff;
    color: #009CFC;  
}

.book-tour-form #group-size {
    width: 8.2rem;
}

.book-tour-form #date {
    width: 12.6rem;
    font-family: 'Noto Sans', sans-serif;
}

input,
select,
textarea {
    font-family: 'Noto Sans', sans-serif;
    color: #878E8D;
    font-weight: bold;
    border-style: none;
    text-indent: 0.3rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
}

textarea::placeholder {
    text-indent: 0;
    padding: 0 0.3rem;
    opacity: 0.5;
}