@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Playfair+Display&family=Raleway:wght@300&display=swap');

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header */

header {
    background-color: #005EB8;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header a {
    text-decoration: none;
}

nav {
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
}

nav li {
    margin-bottom: 1rem;
}

nav a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

#logo {
    font-family: 'Cinzel', serif;
    color: #fff;
}

.toggle-nav:checked ~ nav {
    display: block;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    background-color: #005EB8;
}

.toggle-nav {
    display: none;
}

.toggle-nav-label {
    color: #fff;
    font-size: 2rem;
}

/* Hero Image */

div.hero-image {
    background: url(../images/The_Battle_of_Culloden.jpg) no-repeat center center;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

/* History Section */

#history {
    background-color: #fff;
}
.history-header {
    font-family: 'Playfair Display', serif;
    color: #009CFC;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 1rem;
}

.history-grid {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem;
    width: min(100%, 70rem);
    margin-inline: auto;
    justify-items: center;
    align-items: center;
}

.history-grid p {
    background-color: #009CFC;
    padding: 0.5rem;
    width: 75%;
    border-radius: 0.5rem;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.25rem;
    text-align: left;
}    

.grid-span-1,
.grid-span-3,
.grid-span-5 {
    width: 77.5%;
    border-radius: 0.5rem;
}

/* Visitor Centre Section */

#visitor-centre {
    background-color: #009CFC;
}

.visitor-centre-header {
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 1rem;
}

.visitor-centre-subheader {
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2rem;
    padding: 1rem;
    font-size: 24px;
}

.museum-grid {
    display: grid;
    columns: 1;
    gap: 1rem;
    justify-content: center;
}

.brodie-sword {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}